[submodule "snowcoreBlog.Backend"]
	path = snowcoreBlog.Backend
	url = https://github.com/SnowPowerCore/snowcoreBlog.Backend
[submodule "snowcoreBlog.Console"]
	path = snowcoreBlog.Console
	url = https://github.com/SnowPowerCore/snowcoreBlog.Console
